numpy
pandas
pandas-datareader
pandas-profiling
matplotlib
scipy
seaborn
statsmodels
scikit-learn
scikit-image
jupyter
jupyter-contrib-nbextensions
autopep8
beautifulsoup4
flask
cython
keras
lightgbm
xgboost
quandl
edinet-xbrl
pyfolio
cvxpy
pyportfolioopt
